div.blueTable {
  border: 6px solid #74A46B;
  width: 100%;
  height: 200%;
  text-align: center;
  border-collapse: collapse;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 17px;
  font-weight: bold;
}
.divTable.blueTable .divTableHeading {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
}
.divTable.blueTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
.blueTable .tableFootStyle {
  font-size: 14px;
}
.blueTable .tableFootStyle .links {
	 text-align: right;
}
.blueTable .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.blueTable.outerTableFooter {
  border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; table-layout: auto;}
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;vertical-align: middle;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
.leftCell {
  width: 20% !important;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* * {
    border-color: white;
} */
/* 
.content {
    position: relative;
    padding-bottom: 56.25%; proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%)
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
} */
/* .content{
    position: absolute;
    top: 0;
    width: 100%;
}
.iframecontainer {
   position: absolute;
    top: 0;
    width: 100%;
} */
/* 
.iframestyle {
  width: 1px;
  min-width: 100%;
} */